################################################################################
#               ___           ___           ___           ___
#              /\  \         /\  \         /\  \         /\  \
#             /::\  \        \:\  \       /::\  \       /::\  \
#            /:/\ \  \        \:\  \     /:/\:\  \     /:/\:\  \
#           _\:\~\ \  \       /::\  \   /:/  \:\  \   /::\~\:\  \
#          /\ \:\ \ \__\     /:/\:\__\ /:/__/ \:\__\ /:/\:\ \:\__\
#          \:\ \:\ \/__/    /:/  \/__/ \:\  \ /:/  / \/__\:\/:/  /
#           \:\ \:\__\     /:/  /       \:\  /:/  /       \::/  /
#            \:\/:/  /     \/__/         \:\/:/  /         \/__/
#             \::/  /                     \::/  /
#              \/__/                       \/__/
#
# This file is managed by Chef!  Manual modifications will be lost on the next
# chef run.  If you need to make changes to this file, please make them in the
# cookbook and commit them to source control.
#
################################################################################

[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/kubelet
ExecStart=/usr/bin/kubelet \
      $KUBE_CONFIG \
	    $KUBE_LOG_LEVEL \
	    $KUBELET_API_SERVER \
	    $KUBELET_ADDRESS \
	    $KUBELET_PORT \
	    $KUBELET_HOSTNAME \
	    $KUBE_ALLOW_PRIV \
	    $KUBELET_DNS \
			$KUBELET_DOMAIN \
			$KUBELET_CGROUP_DRIVER \
			$KUBELET_ARGS
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target